
.my-cl-bcg {
    background: url('img/first-scr-bvg.png') no-repeat 50%/cover;
}

.my-cl-display-none{
    display: none;
}

.my-cl-100p {
    width: 100%;
}

.my-cl-header {
    background-color: rgba(0, 0, 0, .7);
}

.my-cl-cont-bottom {
    padding-bottom: 60px;
}

.navbar-brand:hover {
    color: #0aa321;
}

.my-cl-hover-icon:hover {
    fill: #0aa321;
}

.my-cl-logo-col img {
    margin: 0 auto;
    display: block;
}

.my-cl-form-tyle {
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 350px;
    width: 100%;
}

.my-cl-form-tyle input {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    border-radius: 0%;
    border-bottom: 1px solid white;
}

.my-cl-form-tyle input::placeholder {
    text-align: center;
    color: white;
    font-size: 1.3rem;
}

.my-cl-btn1{
    background-color: #0aa321;
    outline: none;
    border: none;
    border-radius: 0%;
    width:100%;
}

h1 {
    text-align: center;
    margin-top: 55px;
}

.my-cl-img {
    align-self: center;
    width: 100%;
}

.my-cl-text {
    width: 80%;
}

.my-cl-text span{
    color: #0aa321;
    cursor: pointer;
}

.my-cl-third-bcg {
    min-height: 450px;
    margin-top: 100px;
    background: url(img/bcg_3.png) no-repeat 50%/cover;
}

h3 {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 70px;
    color: white;
    font-size: 2.5rem;
}

.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.text-center {
    text-align: center;
}

.my-cl-service-item {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 80%;
    color: white;
    font-size: 1.2rem;
    line-height: 1.2;
}

.my-cl-white-scr {
    height: 580px;
}
  
.my-cl-footer{
    background-color: black;
    min-height: 30px;
}

.my-cl-copyright {
    text-align: right;
    color: white;
}



@media(max-width: 1200px) {
    .my-cl-sm-none {
      display: none;
    }

    .my-cl-sm-block {
        display: block;
    }

    .my-cl-copyright {
        text-align: center;
    }
  }

@media(max-width: 992px) {
    .my-cl-lg-none {
        display: none;
    }

    .my-cl-lg-width {
        max-width: 350px;
    }   
}
  
@media(max-width:768px) {
    .my-cl-md-none {
        display: none;
    }

    .my-cl-md-block {
        display: block;
    }
}